{% extends 'pally/base.html' %}

{% load staticfiles %}

{% block pally_breadcrumb_block %}

{% endblock %}

{% block pally_body_block %}
<!-- Page Content -->
<section id="page-content">

  <div class="container"> <!-- 1080 pixels Container -->

    <div class="row">
      <h3>Password reset complete!</h3>
        <div class="small-bar colored"></div>
        <p> Your new password has been set. You can <a href="{% url 'login' %}"> Log in now </a> </p>

  </div>

<!-- end 1080 pixels Container -->


</section>
{% endblock %}
