{% extends 'pally/base.html' %}

{% load staticfiles %}

{% block pally_breadcrumb_block %}

{% endblock %}

{% block pally_body_block %}
<!-- Page Content -->
<section id="page-content">

  <div class="container"> <!-- 1080 pixels Container -->

    <div class="row">

      <div class="one-third fixed columns align-right mb-40px mb-max-767px"> <!-- right-aligned column -->
          {% include 'pally/sidemenu.html' %}


        <!-- end side menu -->


      </div>

      <div class="two-thirds adaptive-to-fixed columns">

         <div class="contact-form-wrapper">

          <h3>Forgotten your password</h3>
          {% if messages %}
            {% for message in messages %}
              {{ message }}
            {% endfor %}
          {% endif %}
          <p> Enter your email address to reset your password </p>

            <div class="small-bar colored"></div>
          <form action="." method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <p><input type="hidden" name="next" value="{{ next }}"> </p>
            <p><input type="submit" value="Send e-mail"></p>
          </form>



      </div>

    </div>

  </div>

<!-- end 1080 pixels Container -->


</section>
{% endblock %}
