{% extends 'pally/base.html' %}

{% load staticfiles %}

{% block pally_breadcrumb_block %}

{% endblock %}

{% block pally_body_block %}
<!-- Page Content -->
<section id="page-content">

  <div class="container"> <!-- 1080 pixels Container -->

    <div class="row">
      <div class="one-third fixed columns align-right mb-40px mb-max-767px"> <!-- right-aligned column -->


        <!-- end side menu -->


      </div>

      <div class="two-thirds adaptive-to-fixed columns">

         <div class="contact-form-wrapper">

          <h3> welcome  to the Pallyne Community! </h3>
            <div class="small-bar colored"></div>

          <p> Your account has been successsfully created.Check your email for an activation link to login to your account. You can <a href="{% url 'login' %}"> Log in </a> </p>



      </div>

    </div>

  </div>

<!-- end 1080 pixels Container -->


</section>
{% endblock pally_body_block %}
