<!-- Begin Side Menu -->
<ul class="feature-nav width-350px align-left adapted-max-767px offset-right-30px mb-40px">
    <li>
      <a href="{% url 'pallynevideos' %}">
        <span><i class="fa fa-film"></i></span>
        <div>
          <h5 class="uppercase remove-bottom">learning videos</h5>
          <p class="italic remove-bottom">Access learning videos</p>
        </div>
      </a>
    </li>
    <li>
      <a href="{% url 'pallynedatasets' %}">
        <span><i class="fa fa-archive"></i></span>
        <div>
          <h5 class="uppercase remove-bottom">datasets</h5>
          <p class="italic remove-bottom">Access uploaded datasets</p>
        </div>
      </a>
    </li>
    <li>
      <a href="{% url 'pallynebooks' %}">
        <span><i class="fa fa-book"></i></span>
        <div>
          <h5 class="uppercase remove-bottom">books</h5>
          <p class="italic remove-bottom">Preview reference books</p>
        </div>
      </a>
    </li>
    <li>
      <a href="{% url 'editprofile' %}">
        <span><i class="fa fa-user"></i></span>
        <div>
          <h5 class="uppercase remove-bottom">My Profile</h5>
          <p class="italic remove-bottom">Edit or Update Profile</p>
        </div>
      </a>
    </li>
    <li>
      <a href="{% url 'pallynebooks' %}">
        <span><i class="fa fa-book"></i></span>
        <div>
          <h5 class="uppercase remove-bottom">books</h5>
          <p class="italic remove-bottom">Preview reference books</p>
        </div>
      </a>
    </li>
  </ul>
<!-- end side menu -->
